<ng-container *ngIf="order">
    <div fxLayout="row" fxLayoutAlign="center center" style='height: 100%;'>
        <div fxLayout="row" class="bill">
            <ng-container *ngIf="order.state == 'completed'">
                <div class="thankyou" fxLayout="column" fxLayoutAlign="center center">
                    <div class="headline">Vielen Dank für Ihren Einkauf</div>
                    <div class="text">Die gekauften Objekte können Sie unter "Gekaufte Objekte" einsehen und
                        ausdrucken.
                    </div>
                    <div>
                        <button mat-raised-button color="primary" (click)="onPurchasedObjectsClicked()">Gekaufte
                            Objekte
                        </button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="order.state == 'waitingForLicenseUpdate'">
                <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="order.offer.bip21"></ngx-qrcode>
            </ng-container>
            <ng-container *ngIf="order.state == 'licenseUpdateError'">
                <div class="thankyou" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
                    <div>
                        Lizenzinstallation fehlgeschlagen.
                    </div>
                    <button mat-raised-button color="primary" (click)="onRetryUpdateLicenseClicked()">Erneut versuchen
                    </button>
                </div>
            </ng-container>
            <ng-container *ngIf="order.state == 'updatingLicense'">
                <div class="thankyou" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
                    <mat-progress-spinner mode="indeterminate" diameter="30" strokeWidth="2"></mat-progress-spinner>
                    <div>
                        Lizenz wird auf dem Drucker installiert.
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="order.state == 'waitingForLicenseUpdate' || order.state == 'licenseUpdateAvailable'">
                <div class="bill" fxLayout="column">
                    <div class="title">Rechnung</div>
                    <div class="items" fxLayout="column">
                        <div *ngFor="let item of order.items" fxLayout="row" fxLayoutGap="15px">
                            <div>{{item.id}}</div>
                            <div>{{item.amount}}</div>
                        </div>
                        <div class="total">Gesamtbetrag: {{amount | btc2iuno}}</div>
                        <div class="status">Status: {{order.state}}</div>
                        <div *ngIf="order.state == 'licenseUpdateAvailable'">
                            <button mat-raised-button color="primary" (click)="onUpdateLicenseClicked()">Update
                                license
                            </button>
                        </div>
                        <div *ngIf="order.state == 'waitingForLicenseUpdate'">
                            <button mat-raised-button color="primary" (click)="onCancelOrderClicked()">Kauf abbrechen
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>