<div class="content">
    <ng-container *ngIf="selectedObjectId">
        <div fxLayout="column" fxLayoutGap="15px">
            <div>
                <button mat-button (click)="deselectObject()">← Zurück</button>
            </div>
            <app-object-details [objectId]="selectedObjectId">
                <app-object-details-actions>
                    <button *ngIf="isPrintable(selectedObjectId)" mat-raised-button color="primary"
                            (click)="onPrintClicked()">Drucken
                    </button>
                    <button *ngIf="isDownloadRequired(selectedObjectId)" mat-raised-button color="primary"
                            (click)="onDownloadClicked()">Herunterladen
                    </button>
                </app-object-details-actions>
            </app-object-details>
        </div>
    </ng-container>
    <ng-container *ngIf="loading">
        <div fxFlex fxLayoutAlign="center center">
            <mat-progress-spinner mode="indeterminate" diameter="30" strokeWidth="2"></mat-progress-spinner>
        </div>
    </ng-container>
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="!selectedObjectId">
            <ng-container *ngIf="objects.length > 0">
                <app-object-browser [objects]="objects"
                                    (onObjectSelected)="onObjectSelected($event)"></app-object-browser>
            </ng-container>
            <ng-container *ngIf="objects.length == 0">
                <div fxFlex fxLayoutAlign="center center">
                    Es wurden keine gekauften Objekte gefunden.
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</div>