<h1 mat-dialog-title>Veröffentlichung von "{{localObject.name}}"</h1>
<div mat-dialog-content>
    <form [formGroup]="publishInfos" fxLayout="column">
        <mat-form-field>
            <input matInput placeholder="Titel" formControlName="title" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Beschreibung" formControlName="description">
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Lizenzgebühr" formControlName="licenseFee">
                <mat-option value="100000">1 IUNO</mat-option>
                <mat-option value="200000">2 IUNO</mat-option>
                <mat-option value="300000">3 IUNO</mat-option>
                <mat-option value="400000">4 IUNO</mat-option>
                <mat-option value="500000">5 IUNO</mat-option>
                <mat-option value="1000000">10 IUNO</mat-option>
                <mat-option value="2000000">20 IUNO</mat-option>
                <mat-option value="3000000">30 IUNO</mat-option>
            </mat-select>
        </mat-form-field>



    </form>



</div>
<div mat-dialog-actions>
    <button mat-button [disabled]="!publishInfos.valid" (click)="onPublishClicked()">Feuer!</button>
    <button mat-raised-button color="primary" (click)="onCancelClicked()">abbrechen</button>
</div>
