<div class="main-menu horizontal">
  <!-- ATOM: Menu Button -->
  <button class="btn-menu "></button>
  <!-- ATOM: Tab -->
  <div class="tab-mainmenu horizontal">
    <div class="icon icon-world"></div>
    <span>Tab 1</span>
  </div>
  <!-- ATOM: Tab -->
  <div class="tab-mainmenu horizontal">
    <div class="icon icon-world"></div>
    <span>Tab 2</span>
  </div>
  <!-- ATOM: Tab -->
  <div class="tab-mainmenu horizontal">
    <div class="icon icon-world"></div>
    <span>Tab 3</span>
  </div>
  <!-- ATOM: Tab -->
  <div class="tab-mainmenu horizontal selected">
    <div class="icon icon-world"></div>
    <span>Tab 4</span>
  </div>
  <!-- ATOM: Tab -->
  <div class="tab-mainmenu horizontal">
    <div class="icon icon-world"></div>
    <span>Tab 5</span>
  </div>
</div>