<div class="app" fxLayout="column">
    <mat-toolbar color="primary" class="app-toolbar">
        <mat-toolbar-row class="mat-elevation-z4">
            <div fxFlex="15">
                TDM-Production-Manager
            </div>
            <div fxFlex fxLayoutAlign="center" fxLayoutGap="15px">
                <button mat-button class="lightupper" (click)="onMarketplaceButtonClicked()">Marktplatz</button>
                <button mat-button class="lightupper" (click)="onMachinesButtonClicked()">Maschinen</button>
                <button mat-button class="lightupper" (click)="onPurchasedObjectsButtonClicked()">Gekaufte Objekte
                </button>
                <button mat-button class="lightupper" (click)="onOwnObjectsButtonClicked()">Eigene Objekte</button>
            </div>
            <div fxFlex="15">
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <div fxFlex fxLayoutAlign="center">
        <div class="content" fxFlex>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>