$color-tr-white: #ffffff;
$color-tr-blue0: #b9dcf7;
$color-tr-blue1: #74b9ef;
$color-tr-blue2: #51a7eb;
$color-tr-blue3: #177ac9;
$color-tr-blue4: #285172;
$color-tr-blue5: #142939;
$color-tr-blue6: #899fb2;
$color-tr-grey1: #e7ecf0;
$color-tr-grey2: #a1a1a1;
$color-tr-grey3: #363636;
$color-tr-grey4: #131313;
$color-tr-grey5: #9a9a9a;
$color-tr-grey6: #707070;
$color-tr-red1: #ff1e00;
$color-tr-red2: #cc292d;
$color-tr-black: #000000;