<div fxLayout="row" style='height: 100%;'>

    <ng-container *ngIf="loading">
        <div fxFlex fxLayoutAlign="center center">
            <mat-progress-spinner mode="indeterminate" diameter="30" strokeWidth="2"></mat-progress-spinner>
        </div>
    </ng-container>
    <ng-container *ngIf="!loading">
        <div class="content" fxFlex>
            <ng-container *ngIf="selectedObjectId">
                <div fxLayout="column" fxLayoutGap="15px">
                    <!-- <div>
                        <button mat-button (click)="deselectObject()">← Zurück</button>
                    </div> -->
                    <app-local-object-details [objectId]="selectedObjectId" (deleted)="objectDeleted()" (changed)="objectChanged()"></app-local-object-details>
                </div>
            </ng-container>
            <ng-container *ngIf="loading">
                <div fxFlex fxLayoutAlign="center center">
                    <mat-progress-spinner mode="indeterminate" diameter="30" strokeWidth="2"></mat-progress-spinner>
                </div>
            </ng-container>
            <ng-container *ngIf="!loading">
                <ng-container *ngIf="!selectedObjectId">
                    <ng-container *ngIf="objects.length > 0">
                        <app-local-object-browser [objects]="objects" (onObjectSelected)="onObjectSelected($event)"></app-local-object-browser>
                    </ng-container>
                    <ng-container *ngIf="objects.length == 0">
                        <div fxFlex fxLayoutAlign="center center">
                            Es wurden keine eigenen Objekte gefunden.
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</div>